.draw {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(36, 28, 41);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.introSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/draw.png");
  height: 200px;
  color: white;
}

.drawingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  color: white;
}
.drawingContainer h3 {
  margin: 5px;
}
.inputContainer {
  width: 90%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}
.inputContainer input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 80%;
  font-weight: 200;
}
.inputContainer input::placeholder {
  color: #cacaca;
  font-weight: 200;
}
.surprise {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: 1px solid #cacaca;
  background-color: rgb(36, 28, 41);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #62015a;
  box-shadow: 10px 5px 5px #9d00ff;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20px;
}
.button:active {
  background-color: #cacaca;
}

.imageSection {
  width: 90%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.imageSection img {
  margin: 1px;
  min-width: 250px;
  max-width: 33%;
  flex-grow: 1;
  gap: 20px;
}
.draw h3 {
  color: white;
}

@media only screen and (max-width: 490px) {
  .introSection h1 {
    font-size: 30px;
  }
  .introSection h3 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
  }
  .drawingContainer {
    width: 90vw;
  }
  .drawingContainer h3 {
    font-size: 14px;
  }
  .inputContainer {
    margin-top: 20px;
    width: 100%;
  }
  .inputContainer input {
    width: 80%;
  }
  .surprise {
    width: 20%;
    font-size: 12px;
    text-align: center;
  }
  .button {
    width: 70px;
    height: 70px;
    font-size: 14px;
  }
}
