.fun {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
}

.funContainer {
  width: 100vw;
  background-image: url("../public/fun2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.imageSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.button {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff0037;
  box-shadow: 10px 5px 5px rgba(250, 100, 100, 0.69);
  width: 120px;
  height: 120px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.border {
  border: 5px solid #ff0037;
}

.button:hover {
  transform: scale(1.1);
}

.resultSection {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 490px) {
  .funContainer {
    height: auto;
    padding-bottom: 30px;
  }
  .imageSection {
    flex-direction: column;
  }
  .button {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }
}
